/* Large Tablet Devices */
@media only screen
and (max-width : 1600px) {
}

@media only screen
and (max-width : 1500px) {
}


@media only screen
and (max-width : 1400px) {
  .header_account{cursor: pointer;}
  .header_account h3{
    display: block;
    position: absolute;
    top:100%;
    padding: 5px 10px;
    right: -30%;
    width: 170px;
    background: #fff;
    z-index: 1;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0 0 0/0.2);
  }
  .header_account.text-hidden h3 {
      display: none;
      pointer-events: none;
  }

  .diagnosis_vitals_boxes{
    justify-content: space-evenly;
    gap:30px 15px;
  }
  .diagnosis_vitals_boxes section{
    flex-grow: 1;
  }

  .sidebar_left_con {
    width: 72%;
  }

  .sidebar_right_con {
    width: 72%;
  }

  .diagnosis_chart_box {
    flex-direction: column;
    row-gap: 40px;
  }
  .diagnosis_chart_box_holder {
    max-width: 100%;
  }
  .diagnosis_chart_box_info {
    max-width: 100%;
  }
  .diagnosis_right_boxes_info {
    max-width: 100%;
  }
}

@media only screen
and (max-width : 1300px) {
.header_logo {
  width: 100%;
  max-width: 150px;
}
  .header_con {
  padding: 0 20px;
}
 
}
@media only screen
and (max-width : 1200px) {
.page_nav ul li a{
  font-size: 13px;
}
}
@media only screen
and (max-width : 1100px) {
  html, body{
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
  }

  .header_logo {
    max-width: 120px; 
  }
}

@media only screen
and (max-width : 1024px) {
 
}

@media only screen
and (max-width : 1000px) {
  .healthcare_dashboard {
    padding: 0;
  }
  header {
    border-radius: unset;
    padding: 25px 15px;
  }
  .header_con{
    padding: 0;
  }
  .header_logo {
    max-width: fit-content;
  }
  .page_nav ul {
    justify-content: space-between;
  }
  .page_nav {
    padding: 25px 15px;
  }

  .dashboard_flexbox {
  gap: 40px 15px;
  flex-wrap: wrap;
  justify-content: center;
  }
  .dashboard_con {
  min-height: 0;
  padding: 0 15px 25px;
  }
  .sidebar_left_con {
  order: 2;
  }
  .sidebar_right_con {
  order: 3;
  }
  .diagnosis_con {
  max-width: 100%;
  order: 1;
  }
  .diagnosis_history_box {
  max-width: 100%;
  min-height: 0;
  }
}


@media only screen
and (max-width : 800px) {

  .header_right_holder {
  display: flex;
  align-items: center;
  gap: 15px;
  }

  .page_nav{padding: 0;}

  .page_nav ul {
    display:grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2,1fr);
    grid-gap: 15px 5px;
  }

   .nav_toggle_button{
    display:block;
    position:relative;
  }
  

    /* Toggle Style */
  .toggle_right_nav {position: fixed;width:100%;height: auto;z-index: 1000;visibility: hidden; left: 0; top: 123px;}
  .toggle_nav_close {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;pointer-events: none;}
  .toggle_right_cont {visibility: visible;background: #fff;z-index: 5; position: absolute; right: 0; left: 0; top: 124px;}
  nav.toggle_right_style {}
  .logo_slide_right {display:block;float:left;width: calc(100% - 90px);}
  .menu_slide_right .toggle_holder{transform: unset;top: -100px; right: 0;}
  .menu_slide_right small{display: none;}
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after { width: 30px; }
  .menu_slide_right {display: block;text-align: left;padding: 0;background: var(--black);position: relative;}
  .toggle_right_nav .hamburger-box{width: 30px;line-height: 100%;}
  .toggle_right_nav .hamburger-inner, .toggle_right_nav .hamburger-inner::before, .toggle_right_nav .hamburger-inner::after { width: 30px; }
  .toggle_right_nav .page_nav{padding: 25px 15px; height: 100vh;}
  
   /* hamburger button */
  .nav_toggle_button small{display: none;}
  .nav_toggle_button .hamburger-inner:before, .nav_toggle_button .hamburger-inner:after{width: 30px; left:50%; transform:translateX(-50%);}
  .nav_toggle_button .hamburger--spin-r.is-active .hamburger-inner{display: none;}
  .nav_toggle_button .hamburger-inner, .nav_toggle_button .hamburger-box{width: 23px;}
  .nav_toggle_button.active .hamburger-inner::after, .nav_toggle_button.active .hamburger-inner::before{width: 28px;}
  .menu_slide_right small{display: none;}
  
  
}

/* Smartphones */
@media only screen
and (max-width : 600px) {
  .header_logo {
    max-width: 150px;
  }

  .page_nav ul {
    grid-auto-flow: row;
    grid-template-columns: repeat(1,1fr);
  }

  .sidebar_left_con {
    width: 100%;
    max-width: 100%;
  }
  .sidebar_right_con{
    width: 100%;
    max-width: 100%;
  }
  .diagnosis_vitals_boxes {
    flex-direction: column;
    align-items: center;
  }
  .diagnosis_vitals_boxes section {
    flex-grow: unset;
    width: 100%;
  }
  .lab_result_con{
    width: 100%;
    max-width: 100%;
  }
  .lab_result_info ul{
    max-width: 100%;
  }
}

@media only screen
and (max-width : 500px) {

}
