/*Fonts Used*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --heading: "Manrope", sans-serif;
    --bodySize: 14px;
    --bodyColor: #072635;
}

*, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; image-rendering: -webkit-optimize-contrast;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; -webkit-text-size-adjust: 100%;}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
input:not([type='radio']):not([type='checkbox']), textarea, select{-webkit-appearance: none;}
form, label {-webkit-text-size-adjust: 100%;}
mark {background-color: transparent;color:inherit;}
/* end reset */

/*preset*/
body{max-width: 1920px; margin: 0 auto; background: #F6F7F8; font-family: var(--heading); font-size: var(--bodySize); color: var(--bodyColor);}
body.active{overflow: hidden;width:100%;height:100%;position:fixed!important;}
a{ text-decoration:none; -webkit-transition: all .3s linear;transition: all .3s linear;}
img{max-width: 100%; vertical-align: top; image-rendering: -webkit-optimize-contrast;}
textarea { resize:vertical; }
iframe{ border: none; width: 100%;}
ul, h1, h2, h3, h4{ margin:0; padding:0; list-style:none; }
strong , b{ font-weight: bold;}
em, i{font-style: italic;}
input[type="submit"]{cursor: pointer;}
a[href^="tel:"]{color: inherit!important; text-decoration: none;}

/*end preset*/

.wrapper{ width:100%; max-width:1564px; margin:0 auto; position:relative;}

/* Repeated Styles*/

.heading_rep{
  font-size: 24px;
  font-weight: 700;
}


.healthcare_dashboard {
  padding-block: 12px;
  padding-inline: 10px;
  position: relative;
}

/*header*/
header{ 
    background: #fff;
    position: relative;
    border-radius: 100vw;
}
.header_con{
    min-height:72px;
    padding:0 32px;
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    align-items: center;
}
.main_logo{ position: absolute;
    width: 100%;
    max-width: 400px;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
}

.main_logo img{ }
.header_right_info{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header_account{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
.header_account:after{
    content:'';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -15px;
    background: #EDEDED;
}
.header_account figure{}

.header_account h3{
    font-weight: 700;
    line-height: 19px;
}

.header_account h3 span{
    display: block;
    font-weight: 400;
    color: #707070;
}
.header_controls{
    display: flex;
    gap: 10px;
}
.header_controls .settings, .header_controls .header_more{
    cursor: pointer;
}
/*end header*/

/*nav*/
.page_nav {
    position: relative;
}
.page_nav ul{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.page_nav ul li{
    position:relative;
}
.page_nav ul li a{
    display:block; 
    color:#072635; 
    font-weight: 700;
    line-height: 41px;
    padding-inline: 45px 20px;
    border-radius: 100vw;
}
.page_nav ul li a:before{
    position: absolute;
    top: 54%;
    left: 15px;
    transform: translateY(-50%);
}
.page_nav ul li:first-child a:before{
    content:url(../images/home.svg);
}
.page_nav ul li:nth-child(2) a:before{
    content:url(../images/group.svg);
}
.page_nav ul li:nth-child(3) a:before{
    content:url(../images/calendar.svg);
}
.page_nav ul li:nth-child(4) a:before{
    content:url(../images/chat_bubble.svg);
}
.page_nav ul li:last-child a:before{
    content:url(../images/credit_card.svg);
}
.page_nav ul li a:hover, .page_nav ul li a:active, .page_nav ul li.current_page_item > a{
    background: #01F0D0;
}

/* Navigation bar icon */
.nav_toggle_button{
  display:none; 
  text-align:left;
  position:relative;}
.nav_toggle_button.active {
  opacity:1;
}
.nav_toggle_button i{
  cursor: pointer;
}

/*Burger Color*/
.nav_toggle_button .toggle_holder{
 position: relative;
}
.nav_toggle_button .hamburger{}
.nav_toggle_button .hamburger-inner, .nav_toggle_button .hamburger-inner:before, .nav_toggle_button .hamburger-inner:after{
  background:#01F0D0;
}

/* Default Responsive Style for Toggle Swipe Right */
.menu_slide_right {
  display: none;
}

/*Responsive burger and color*/
.menu_slide_right .hamburger-inner, .menu_slide_right .hamburger-inner:before, .menu_slide_right .hamburger-inner:after{
  background:#01F0D0;
}
.menu_slide_right .toggle_holder{
  position: absolute;
  top: 55%;
  right: 10px;
  transform: translateY(-50%);
}

#dashboard {
  position: relative;
  margin-top: 32px;
}
.dashboard_con {
  min-height: 1054px;
  padding: 0 0 0;
}
.sidebar_left_con {
  position: relative;
  width: 100%;
  max-width: 367px;
  border-radius: 16px;
  background: #fff;
}
.dashboard_flexbox {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: start;
}
.diagnosis_con {
  width: 100%;
  max-width: 766px;
  position: relative;
}
.sidebar_right_con {
  position: relative;
  width: 100%;
  max-width: 367px;
}
.patients_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 20px 20px 0;
}
.patients_info span {
  display: block;
  background: url(../images/search.svg) no-repeat;
  width: 18px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.patients_boxes {
  position: relative;
  margin-top: 40px;
}

.patients_boxes section {
  padding: 16px 20px;
  position: relative;
}

.patients_boxes section h3 {
  font-weight: 700;
  line-height: 22px;
}
.patients_boxes section h3 span {
  display: block;
  font-weight: 400;
  color: #707070;
}
.patients_boxes section figure {
  width: fit-content;
  max-width: 100%;
}
.patients_boxes section .patient_box_info {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  position: relative;
}

.patients_boxes section a{
   position: absolute; 
   inset: 0;
}
.patients_boxes section:hover, .patients_boxes section:active, .patients_boxes section.current_patient_select{
  background: #D8FCF7;
}
.patients_boxes section .patient_more {
  display: block;
  background: url(../images/more-horizontal.svg) no-repeat;
  width: 18px;
  height: 4px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.diagnosis_history_box {
  width: 100%;
  max-width: 766px;
  min-height: 673px;
  background: #fff;
  padding: 20px;
  border-radius: 16px;
}

.diagnosis_chart_con {
  width: 100%;
  position: relative;
  min-height: 298px;
  margin-block: 40px 20px;
  padding: 16px;
  background: #F4F0FE;
  border-radius: 12px;
}
.diagnosis_chart_box_holder{
  width: 100%;
  max-width: 460px;
}
.diagnosis_chart_box_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

  .chart-container {
  position: relative;
  margin: 15px 0 0;
  border-radius: 10px;
  }

  .chart-container #myChart {
    height: 230px !important;
    width: 100% !important;
  }
.diagnosis_chart_dropdown{
    position: relative;
    width: 100%;
    max-width: 118px;
    text-align: left;
}
.diagnosis_chart_box_info .diagnosis_chart_dropdown:before{
    content: '';
    background:url(../images/expand_dropdown.svg) no-repeat;
    width: 11px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.diagnosis_chart_box_info select {
  border: none;
  background: transparent;
  position: relative;
  font-size: 14px;
  font-weight: 400;
}
.diagnosis_chart_box {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: start;
}
.diagnosis_chart_box_info h2 {
  font-size: 18px;
  font-weight: 700;
}

.diagnosis_right_boxes_info {
  width: 100%;
  max-width: 260px;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 33px;
}
.diagnosis_right_boxes_info::before {
content: '';
position: absolute;
top: 50%;
left: 0;
transform: translateY(-50%);
background: #CBC8D4;
width: 100%;
height: 1px;
}
.diagnosis_right_boxes_info section h3 {
  font-size: 14px;
  font-weight: 700;
  padding-left: 20px;
  position: relative;
}
.diagnosis_right_boxes_info section h3:before {
  content: '';
  width: 14px;
  aspect-ratio: 1/1;
  border-radius: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}

.diagnosis_right_boxes_info section:first-child h3:before{
    background: #E66FD2;
}
.diagnosis_right_boxes_info section:last-child h3:before{
    background: #8C6FE6;
}

.diagnosis_right_boxes_info section q {
  font-size: 22px;
  font-weight: 700;
  display: block;
  margin-block: 15px;
}
.diagnosis_right_boxes_info section .diagnosis_right_boxes_info_dropdown {

  position: relative;
}
.diagnosis_right_boxes_info section .diagnosis_right_boxes_info_dropdown:before{
    content: '';
    width: 10px;
    height: 5px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.diagnosis_right_boxes_info section:first-child .diagnosis_right_boxes_info_dropdown:before{
 background: url(../images/ArrowUp.svg) no-repeat;
}

.diagnosis_right_boxes_info section:last-child .diagnosis_right_boxes_info_dropdown:before{
 background: url(../images/ArrowDown.svg) no-repeat;
}
.diagnosis_right_boxes_info section .diagnosis_right_boxes_info_dropdown select {
  background: transparent;
  border: none;
  padding: 0;
  font-size: 14px;
  padding-left: 20px;
  cursor: pointer;
}

.diagnosis_vitals_boxes {
  display: flex;
  justify-content: space-between;
  gap: 30px 10px;
  flex-wrap: wrap;
}

.diagnosis_vitals_boxes section {
  width: 32%;
  max-width: 228px;
  min-height: 242px;
  position: relative;
  border-radius: 12px;
  padding: 16px;
}
.diagnosis_vitals_boxes section:first-child {
    background:#E0F3FA;
}
.diagnosis_vitals_boxes section:nth-child(2) {
    background:#FFE6E9;
}
.diagnosis_vitals_boxes section:last-child {
    background:#FFE6F1;
}
.diagnosis_vitals_boxes section h2 {
  color: #072635;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}
.diagnosis_vitals_boxes section h2 small {
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.diagnosis_vitals_boxes section h2:before{
    content: '';
    display: block;
    margin-bottom: 15px;;
    width: 96px;
    aspect-ratio: 1/1;
}

.diagnosis_vitals_boxes section:first-child h2:before{
    background: url(../images/respiratory.svg);
}

.diagnosis_vitals_boxes section:nth-child(2) h2:before{
    background: url(../images/temperature.svg);
}

.diagnosis_vitals_boxes section:last-child h2:before{
    background: url(../images/HeartBPM.svg);
}

.diagnosis_vitals_boxes section .vitals{
    position: relative;
}

.diagnosis_vitals_boxes section .vitals select{
    background: transparent;
    border: none;
    padding: 0;
    padding-left: 0px;
    font-size: 14px;
    padding-left: 20px;
    cursor: pointer;
}

.diagnosis_vitals_boxes section .vitals_average:before{
    content:'';
    background: url(../images/ArrowDown.svg) no-repeat;
    width: 10px;
    height: 5px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.diagnosis_list_table_card {
  position: relative;
  margin-top: 32px;
  padding: 20px;
  background: #fff;
  border-radius: 16px;
  overflow: auto;
}

.diagnosis_list_table_card  .table-title {
    font-size: 24px;
    font-weight: 700;
}

.diagnosis_list_table_card  table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0; 
    margin-top: 40px;
}

.diagnosis_list_table_card  thead {
   position: relative;
   isolation: isolate;
}

.diagnosis_list_table_card thead:before{
    content: '';
    background: #F6F7F8;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 100vw;
}

.diagnosis_list_table_card  thead th {
    text-align: left;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 600;
    color: #072635;
}

.diagnosis_list_table_card tbody td {
    padding: 25px 15px;
    border-bottom: 1px solid #e5e7eb;
}

.profile_information_con {
  position: relative;
  padding: 32px 20px;
  background: #fff;
  border-radius: 16px;
}
.profile_info figure {
  width: fit-content;
  max-width: 100%;
  margin: 0 auto 24px;
}
.profile_info h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}
.profile_info ul {
  position: relative;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}
.profile_info ul li {
  position: relative;
  line-height: 20px;
  padding-left: 55px;
}
.profile_info ul li:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  aspect-ratio: 1/1;
}
.profile_info ul li:first-child:before{background: url(../images/BirthIcon.svg) no-repeat;}
.profile_info ul li:nth-child(2):before{background: url(../images/FemaleIcon.svg) no-repeat;}
.profile_info ul li:nth-child(3):before{background: url(../images/PhoneIcon.svg) no-repeat;}
.profile_info ul li:nth-child(4):before{background: url(../images/PhoneIcon.svg) no-repeat;}
.profile_info ul li:last-child:before{background: url(../images/InsuranceIcon.svg) no-repeat;}
.profile_info ul li q {
  display: block;
}
.profile_info ul li span {
  font-weight: 700;
}
.profile_info ul li a:hover{text-decoration: underline;}

.profile_button {
  width: fit-content;
  margin: 29px auto 0;
}
.profile_button a {
  width: 220px;
  line-height: 41px;
  display: block;
  position: relative;
  background: #01F0D0;
  text-align: center;
  border-radius: 100vw;
  color: var(--bodyColor);
  font-weight: 700;
}

.profile_button a:hover {
color: #fff;
}

.lab_result_con {
  position: relative;
  width: 100%;
  min-height: 296px;
  padding: 20px;
  margin-top: 32px;
  border-radius: 16px;
  background: #fff;
}
.lab_result_info ul {
  width: 100%;
  max-width: 315px;
  margin-top: 16px;
  position: relative;
}
.lab_result_info ul  li {
  line-height: 40px;
  font-size: 13px;
  padding-inline: 16px;
  position: relative;
}

.lab_result_info ul  li a{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: url(../images/download.svg) no-repeat;
  width: 20px;
  height: 20px;
  display: block;
}

.lab_result_info ul li:hover, .lab_result_info ul li:active, .lab_result_info ul li.current_active_list{
  background: #F6F7F8;
}